* {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.window {
  color: #ffffff;
  background-color: #79BCB8;
  padding-top: 0;
  text-decoration: #ffffff;
}

#title {
  font-size: 40px;
  color: #ffffff;
}

.main {
  text-decoration-color: #ff91b2;
  background-color: #5EC2B7;
  margin: 0;
  padding: 1rem;
  border-bottom: 2px solid #2CA6A4;
  box-shadow: 0 4px 8px 0 #979797;
}

.initgame {
  margin-top: 1rem;
}

.lead {
  padding-top: 25px;
} 

#input {
  margin-top: 2rem;
}

#message {
  text-align: center;
}

.wordinputcss {
  border-radius: 8px;
}

.wordinputcss :focus {
  width: 50%;
}

button {
  margin: 1em auto;
  text-align: center;
  width: 15%;
  border: none;
  box-shadow: 0 4px 8px 0 #979797;
  border-radius: 8px;
  padding: .5em;
}

button:hover {
  cursor: pointer;
  background-color: #EAE1DF;
  box-shadow: 0 6px 16px 0 #979797;
  transition: ease-in .1s;
}

i {
  margin: 0;
  padding-top: 5px;
  color: #000000;
  padding-right: 15px;
}

i:hover {
  color: #5d5e60; 
}


#textcss {
  font-size: 20px;
}

.signature {
  padding-top: 5em;
  text-align: center;
  color: #000000;
}

#my-name a{
  color: #000000;
  text-decoration: none;
}

#my-name a:hover {
  color: #b1eb2c;
  transition: .2s ease-out;
}



